header {
  padding: 0 1vw;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  svg {
    display: block;
  }
  .user-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    .user-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    a {
      display: block;
      margin-left: 20px;
      color: #165E83;
      font-weight: 400;
    }
    .retirement-link {
      color: red;
    }
    .recruit-partner {
      padding: 5px 20px;
      border: 2px solid #165E83;
      border-radius: 20px;
    }
  }
}