.training-content {
  display: flex;
  padding: 2vh auto;
  .training-left-content {
    width: 50vw;
    padding: 2vh 5vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    h1 {
      padding-bottom: 10px;
    }
    .training-group{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      h2 {
        position: static;
        background-color: #165E83;
        &:first-child {
          margin-top: 20px;
        }
      }
      .training-text {
        text-align: center;
        padding: 40px 0;
      }
    }
  }
  .training-right-content {
    margin: 2vh auto;
    .edit-training-path {
      padding: 10px 30px;
      background-color: #f8770eb9;
      border-radius: 4px;
      color: #fff;
      font-weight: 600;
    }
  }
}